body{
    background: beige!important;
}
select[name] {
    display: none;
}
#containingTable {
    display: none;
}

#mainBody {
    height: 60vh;
    margin-bottom: 25rem;
}

#brandLogo {
    border-radius: 55%;
    margin: auto 0;
}

#footer {
    border-top: 1px solid #000;
    padding-top: 1rem;
    row-gap: 1rem;
}

#extraData {
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#radioButtons {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}
nav a:hover{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}