body{
    background: linear-gradient(90deg, rgba(123, 224, 32, 50%), rgba(34,  57, 89, 0.86));
}
#homePage{
    color: #fff;
}
div.carousel-caption {
    color: #fff!important;
}
#brandLogo{
    border-radius: 55%;
    
    margin: auto 0;
}
#footer{
    border-top: 1px solid #000;
    padding-top: 1rem;
    margin: 1rem 0;
    row-gap: 1rem;
    color: #fff;
    
}
ul, ol{
    list-style: none;
}
#mainBody{
    height: 100vh;
    margin-bottom: 25rem;
}
i{
    font-size: 10px;
    margin-left: 1rem;
}