body{
    background: beige!important;
}

div.carousel-caption {
    color: #fff!important;
}
#brandLogo{
    border-radius: 55%;
    
    margin: auto 0;
}
#footer{
    border-top: 1px solid #000;
    padding-top: 1rem;
    margin: 1rem 0;
    row-gap: 1rem;  
}
ul, ol{
    list-style: none;
}
#mainBody{
    height: 100vh;
    margin-bottom: 25rem;
}
i{
    font-size: 10px;
    margin-left: 1rem;
}
nav a:hover{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}